
<nav class="navbar" style="padding-top: 1em;">
	<div class="navbar-header">
		<div class="navbar-brand">
			<ol class="breadcrumb">
			    <li><a {{=view.renderLink()}}><i class="glyphicon glyphicon-home"></i></a></li>
				<li><a {{=view.renderLink(view.model.getPath()) }}>{{=view.model.getTitle()}}</a></li>
				<li class="active">Historique</li>
			</ol>
			</div>
	</div>
	<ul class="navbar-brand nav navbar-nav right">
		<li><div class="btn-group">
				<button class="compare btn btn-primary"{{=view.renderCompareButton()}}>Comparer</button>
			</div></li>
	</ul>
</nav>

<table
	class="table table-striped table-bordered table-hover table-condensed" {{=view.postprocess()}}>
	<tbody>
            <tr style="color: black;">
                <th></th>
                    <th>Auteur</th>
                    <th>Date</th>
                    <th>Version</th>
                </tr>	

        {{ //_.each(_.sortBy(history, function (elt) { return elt.timestamp; }).reverse(), function(item, index) { }}
        {{ var history = view.getHistory();  }}
        {{ _.each(history, function(item, index) {  }}

            {{if (index < (_.keys(history).length -1)) { }}
			<tr style="color: black;">
				<td><input type="checkbox"
					value="{{=item.versionId}}"></td>
					<td>{{-item.author}}</td>
					<td>{{=view.getFormattedRevisionDate(item.timestamp)}}</td>
				{{ if (index > 0) { }} 
				<td><a {{=view.renderHistoryLink(item.versionId) }}>{{=item.versionId }}</a></td>
				{{ } else if (index == 0) { }}
				<td><a {{=view.renderLink(view.model.getPath())}}>{{=item.versionId}}</a></td>
				{{ } }}
				
			</tr>
		    {{ } }}

		{{ }) }}
	</tbody>
</table>

