
<nav class="navbar" style="padding-top: 1em;">
	<div class="navbar-header">
		<span class="navbar-brand">
			<ol class="breadcrumb">
				<li><a href="/{{=workspace}}/{{=model.getPath()}}">{{=model.getTitle()}}</a></li>
				<li class="active">Historique</li>
			</ol>
			</span>
	</div>
	<ul class="navbar-brand nav navbar-nav right">
		<li><div class="btn-group">
				<button class="compare btn btn-primary">Comparer</button>
			</div></li>
	</ul>
</nav>

<table
	class="history table table-striped table-bordered table-hover table-condensed">
	<tbody>
            <tr style="color: black;">
                <th></th>
                    <th>Auteur</th>
                    <th>Date</th>
                    <th>Version</th>
                </tr>	

        {{ _.each(_.sortBy(history, function (elt) { return elt.timestamp; }).reverse(), function(item, index) { }}
        {{ //_.each(history, function(item, index) {  }}

            {{if (index < (_.keys(history).length -1)) { }}
			<tr style="color: black;">
				<td><input type="checkbox"
					value="{{=item.versionId}}"></td>
					<td>{{-item.author}}</td>
					<td>{{=view.getFormattedDate(item.timestamp)}}</td>
				{{ if (index > 0) { }} 
				<td><a href="/{{=workspace }}/{{=model.getPath()}}/history/{{=item.versionId}}">{{=item.versionId }}</a></td>
				{{ } else if (index == 0) { }}
				<td><a href="/{{=workspace }}/{{=model.getPath()}}">{{=item.versionId}}</a></td>
				{{ } }}
				
			</tr>
		    {{ } }}

		{{ }) }}
	</tbody>
</table>

