<!DOCTYPE html>
<html>
	<head>
		<title>jscr-webui</title>
		<meta charset="utf-8"></meta>
		<link rel="stylesheet" type="text/css" href="<%= mainCss %>">
		<script type="text/javascript" src="components/requirejs/require.js" data-main="<%= mainJs %>"></script>
	</head>
	<body>
    
    <div id="umx-header" data-loaded="false" data-user="<%= user %>">
    </div>
	
	<div class="container" style="clear:both;">
		<div id="app" class="container"></div>
	</div>
	
	</body>
</html>
