body {
	
}

.navbar-inner {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

#navlist li {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}