li.media {
	list-style: none;
}

a {
	text-decoration: none;
	color: #007de3;
}

.media-top {
	cursor: pointer;
}
.media-top:hover {
 background-color: #f6f6f6;	
}

.media-content {
	margin-left: 0em;
	padding-left: 2em;
	padding-right: 2em;
	padding-bottom: 1em;
}

.media {
	border-top: 1px solid #dddddd;
}

.media-content p {
	margin-bottom: 1em;
}

.nav {
	white-space: nowrap;
}

@media ( max-width : 767px) {
	.container-fluid {
		padding-left: 1.5em;
		padding-right: 1.5em;
	}
}

h1.media-heading,.media-summary,.media-summary * {
	display: inline;
}

h1.media-heading {
	font-size: 1em;
	padding-left: 1em;
}

.media-summary {
	color: #777;
}

.media-summary:before {
	content: " - ";
}

.header {
	white-space: nowrap;
	overflow: hidden;
	line-height: 40px;
}

.media.expanded .media-top {
	background-color: #efefef;
}

.media,.media .media {
	margin-top: 0;
}

.media.expanded {
	border-left: solid 1px #007de3;
}

.media-content pre {
	border: none;
	background-color: white;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.media-meta {
	margin-bottom: 1em;
}

.media-meta h1 {
	font-size: 1.2em;
	margin-top: 0.3em;
	line-height: 1.2em;
}

.media-url {
	float: right;
	padding-right:1em;
}

.favicon {
	width: 24px;
	height: 24px;
	border-radius: 4px;
	float: left;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-right: 0.5em;
}

.well {
	
}

body {
	
}

.navbar-inner {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

#navlist li {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}

.navbar .nav-user {
	position: relative;
	left: 0;
	display: block;
	margin: 0 10px 0 0;
	float: right;
}

.nav-user {
	list-style: none;
}

.nav-user li {
	display: inline;
	list-style-type: none;
}

.navbar .nav-user>li>a {
	float: none;
	padding: 10px 0px 10px;
	color: #777777;
	text-decoration: none;
	text-shadow: 0 1px 0 #ffffff;
}

.nav-user>li>a {
	display: block;
}

.form-search {
	float: right;
	padding-top: 5px;
	padding-right: 10px;
	margin-bottom: 0px;
}