<div>

<script type="text/template" id="HeaderView">
 <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">{{= title }}</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/workspace/import">Import</a></li>
           
          </ul>
          <ul class="nav navbar-nav navbar-right">

            {{ if (user != 'Anonymous') { }}
                 <li><a href="/">{{=user}}</a></li>
            {{ } }}

            {{ if (user != 'Anonymous') { }}
            <li><a href="/api/logout">Logout</a></li>
            {{ } else { }}
            <li><a href="/login">Login</a></li>
            {{ } }}

          </ul>

           <form class="navbar-form navbar-right">
             <input type="text" class="form-control col-lg-8 search" placeholder="Search">
           </form>


        </div><!--/.nav-collapse -->
      </div>
    </div>

</script>

	<script type="text/template" id="HeaderViewBlah">
		<div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="/">TechOnMap </a>
            <ul class="nav">
                <li><a href="/techonmap">Tableau de bord</a></li>
                <li><a href="/techonmap/import">Import</a></li>
            </ul>
            <ul class="nav-user">
            {{ if (user != 'Anonymous') { }}
            <li><a href="/api/logout">Logout</a></li>
            {{ } else { }}
            <li><a href="/login">Login</a></li>
            {{ } }}
            </ul>
            <ul class="nav-user">
            {{ if (user != 'Anonymous') { }}
                 <li><a href="/">{{=user}}</a></li>
            {{ } }}
            </ul>

            <div class="form-search" action="" method="get">
            <div class="input-append">
                <input type="text" class="span2 search-query type-ahead" autocomplete="off">
                <input type="hidden" id="resource-id" name="id" />
                
                <button type="submit" id="go" class="btn"><i class="icon-chevron-right"></i></button>
            </div>
            </div>
        </div>

	</script>
</div>