<div>

	<script type="text/template" id="HeaderView">
<div id="topbar">
        <div class="social">
            <div class="left">
            </div>
            <div class="right">
            </div>
        </div>

        <div class="header">
            <div class="aside">
               
            </div>

            <div class="ban">
                <div class="left">
                    <h1>
                        <a href="/"><img src="/js/theme-techonmap/images/banner.png" alt="Techonmap"></a>
                    </h1>
                    <h2>La carte des acteurs du numérique en
                        Île-de-France</h2>
                </div>
                <div class="right">
                    {{ if (user != 'Anonymous') { }}
                    <ul class="menu nav navbar-nav navbar-right">
                        <li><input type="text" class="typeahead" autocomplete="off" placeholder="Search..."></li>                        
                        <li><a href="/workspace/new">New</a></li>
                        <li><a href="/workspace/import">Import</a></li>
                        <li><a target="blank" href="/map/">Map</a></li>
                        {{ if (user != 'Anonymous') { }}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{=user}} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/api/logout">Logout</a></li>
                            </ul>
                        </li>
                        {{ } else { }}
                        <li><a href="/login">Login</a></li>
                        {{ } }}


                    </ul>
                    {{ } }}
                </div>

            </div><!-- end ban -->


        </div><!-- end header -->
</div> <!-- end topbar -->

<div style="clear:both;">
<hr style="margin-top:0px; margin-bottom:0px;"/>
</div>
</script>

</div>