<div style="display:block;text-align:center;" {{=view.renderPaginator()}}>
<ul class="pagination pagination-centered" >
  {{ if (view.options.currentPage != 1) { }}
  <li><a href="#" class="first">&laquo;</a></li>
  {{ } else { }}
  <li class="disabled"><a href="#" class="first">&laquo;</a></li>
  {{ } }}
   {{ _.each (view.getPageSet(), function (p) { }}
        {{ if (view.options.currentPage == p) { }}
        <li class="active"><a href="#" class="page">{{= p }}</a></li>
        {{ } else { }}
        <li><a href="#" class="page">{{= p }}</a></li>
        {{ } }}
   {{ }); }}
   {{ if (view.options.lastPage != view.options.currentPage && view.options.lastPage != 0) { }}
    <li><a href="#" class="last">&raquo;</a></li>  
   {{ } else { }}
   <li class="disabled"><a href="#" class="last">&raquo;</a></li>
   {{ } }}
</ul>
</div>
