<div>
	<!-- 	<h1>{{=workspace}}</h1>  -->
	{{ if (!workspace) { var workspace = 'workspace'; } }}
</div>
<nav class="navbar" style="padding-top: 1em;">
	<div class="navbar-header">
		<span class="navbar-brand">
			<ol class="breadcrumb">
				<li>Tableau de bord</li>
			</ol>
		</span>
	</div>
	<span class="navbar-brand right">
		<ul class="nav navbar-nav right">

			<div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle"
					data-toggle="dropdown">
					Trier <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li><a class="sort" href="#"
						data-sort="attributes.properties.name">Par nom</a></li>
					<li><a class="sort" href="#"
						data-sort="attributes.properties.category">Par catégorie</a></li>
					<li><a class="sort" href="#"
						data-sort="attributes.sys.updated.timestamp"
						data-sort-order="desc">Par date</a></li>
				</ul>
			</div>

			<div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle"
					data-toggle="dropdown">
					Afficher <span class="caret"></span>
				</button>
				<ul class="dropdown-menu howmany" role="menu">
					<li><a href="#">15</a></li>
					<li><a href="#">50</a></li>
					<li><a href="#">100</a></li>
				</ul>
			</div>

			<button type="button" class="btn btn-primary action-validate"
				data-toggle="dropdown">Valider</button>



		</ul>
	</span>


</nav>
<div class="resources" style="clear: right;"></div>

<div class="dialog-validation hide">
	<div class="title">Validation</div>
	<div class="message">No elements are selected. Do you want to
		validate all the pending elements ?</div>
</div>
