<div>
	<h1>{{=workspace}}</h1>

	<ul id="navlist">
		<li><a href="/">Home</a>
		<li><a href="/login">Login</a>
		<li><a href="/search">Global Search</a>
		<li><a href="/{{=workspace}}/search">Workspace search</a> <!-- 
        <li><a href="/myworkspace">Workspace</a>

        <li><a href="/myworkspace/path/to/my/resource">Resource</a>
        <li><a href="/myworkspace/path/to/my/resource/history">Resource
                history</a>
        <li><a
            href="/myworkspace/path/to/my/resource/history/compare/v1/with/v2">Resource
                version comparison</a>
                 -->
	</ul>

</div>

<table class="table table-hover">
	<thead>
		<th></th>
		<th>Name</th>
		<th>Category</th>
		<th>Author</th>
		<th>Date</th>
	</thead>
	<tbody class="resources">
	</tbody>
</table>